{% extends 'payment/base.html' %}


{% block content %}
<div class="container">
  <section>
      <div class="product">
        <div class="description">
          {% if product %}
            <h3>item: {{ product.name }}</h3>
            <p>description: {{ product.description }}</p>
            {% if product.discount.discount %}
              <h5>price:{{ product.get_discount }} {{ product.currency }} 
                <strong>discount: {{ product.discount.discount }}%</strong> old price: <s>{{ product.price }} </s></h5>
            {% else %}
              <h5>price:{{ product.price }} {{ product.currency }}</h5>
            {% endif %}
          {% elif order %}
          <h3>items: {{ order.name }}</h3>
          <h5>price order: {{ order.price }} {{ order.currency }}</h5>
          {% endif %}
        </div>
      </div>
      <button type="button" id="buy-button">buy</button>
    {% csrf_token %}
  </section>

  <section>
    <h1>Custom payment</h1>
    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </section>
</div>

<script type="text/javascript">
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

  const checkoutButton = document.getElementById("buy-button");
  checkoutButton.addEventListener("click", getSessionToRedirect)

  async function getSessionToRedirect() {
      const response = await fetch("{% if product %} {% url 'buy' product.id %} {% else%} {% url 'buy' order.id %}?order=true {% endif %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
      const session = await response.json()
      const result =  stripe.redirectToCheckout({ sessionId: session.id });
      if (result.error) {
        alert(result.error.message)
      }
  }

  const items = [{ id: "xl-tshirt" }];

  let elements;

  initialize();
  checkStatus();

  document
    .querySelector("#payment-form")
    .addEventListener("submit", handleSubmit);

  // Fetches a payment intent and captures the client secret
  async function initialize() {
    const response = await fetch("{% if product %} {% url 'custom-buy' product.id %} {% else%} {% url 'custom-buy' order.id %}?order=true {% endif %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({ items }),
    });
    const { clientSecret } = await response.json();

    const appearance = {
      theme: 'stripe',
    };
    elements = stripe.elements({ appearance, clientSecret });

    const paymentElementOptions = {
      layout: "tabs",
    };

    const paymentElement = elements.create("payment", paymentElementOptions);
    paymentElement.mount("#payment-element");
  }

  async function handleSubmit(e) {
    e.preventDefault();
    setLoading(true);

    const { error } = await stripe.confirmPayment({
      elements,
      confirmParams: {
        // Make sure to change this to your payment completion page
        return_url: "http://127.0.0.1:8000{% url 'success' %}",
      },
    });

    // This point will only be reached if there is an immediate error when
    // confirming the payment. Otherwise, your customer will be redirected to
    // your `return_url`. For some payment methods like iDEAL, your customer will
    // be redirected to an intermediate site first to authorize the payment, then
    // redirected to the `return_url`.
    if (error.type === "card_error" || error.type === "validation_error") {
      showMessage(error.message);
    } else {
      showMessage("An unexpected error occurred.");
    }

    setLoading(false);
  }

  // Fetches the payment intent status after payment submission
  async function checkStatus() {
    const clientSecret = new URLSearchParams(window.location.search).get(
      "payment_intent_client_secret"
    );

    if (!clientSecret) {
      return;
    }

    const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

    switch (paymentIntent.status) {
      case "succeeded":
        showMessage("Payment succeeded!");
        break;
      case "processing":
        showMessage("Your payment is processing.");
        break;
      case "requires_payment_method":
        showMessage("Your payment was not successful, please try again.");
        break;
      default:
        showMessage("Something went wrong.");
        break;
    }
  }

  // ------- UI helpers -------

  function showMessage(messageText) {
    const messageContainer = document.querySelector("#payment-message");

    messageContainer.classList.remove("hidden");
    messageContainer.textContent = messageText;

    setTimeout(function () {
      messageContainer.classList.add("hidden");
      messageText.textContent = "";
    }, 4000);
  }

  // Show a spinner on payment submission
  function setLoading(isLoading) {
    if (isLoading) {
      // Disable the button and show a spinner
      document.querySelector("#submit").disabled = true;
      document.querySelector("#spinner").classList.remove("hidden");
      document.querySelector("#button-text").classList.add("hidden");
    } else {
      document.querySelector("#submit").disabled = false;
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#button-text").classList.remove("hidden");
    }
  }
</script>
{% endblock %}
