{% extends 'payment/base.html' %}


{% block content %}
<div class="container">
  <section>
      <div class="product">
        <div class="description">
          {% if product %}
            <h3>item: {{ product.name }}</h3>
            <p>description: {{ product.description }}</p>
            {% if product.discount.discount %}
              <h5>price:{{ product.get_discount }} {{ product.currency }} 
                <strong>discount: {{ product.discount.discount }}%</strong> old price: <s>{{ product.price }} </s></h5>
            {% else %}
              <h5>price:{{ product.price }} {{ product.currency }}</h5>
            {% endif %}
          {% elif order %}
          <h3>items: {{ order.name }}</h3>
          <h5>price order: {{ order.price }} {{ order.currency }}</h5>
          {% endif %}
        </div>
      </div>
      <button type="button" id="buy-button">buy</button>
    {% csrf_token %}
  </section>
</div>

<script type="text/javascript">
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

  const checkoutButton = document.getElementById("buy-button");
  checkoutButton.addEventListener("click", getSessionToRedirect)

  async function getSessionToRedirect() {
      const response = await fetch("{% if product %} {% url 'buy' product.id %} {% else%} {% url 'buy' order.id %}?order=true {% endif %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
      const session = await response.json()
      const result =  stripe.redirectToCheckout({ sessionId: session.id });
      if (result.error) {
        alert(result.error.message)
      }
  }
</script>
{% endblock %}
